.headerBar {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 3px 5px 3px rgba(156, 155, 155, 0.606);
  height: fit-content;
  padding: 1.5rem;
}

h2 {
  width: fit-content;
  text-align: center;
}

h2:hover {
  color: rgba(7, 7, 7, 0.713);
  cursor: pointer;
}
